{% load static %}
{% load fshare_extra %}

<html>
    <head>
        <title>FShare - {% block title %}{{ title }}{% endblock %}</title>

        {% load staticfiles %}
        {% block additional_style %}
        {% endblock %}
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/animate.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/chardinjs.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/jquery.dropdown.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/slick.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'website/generated/css/slick-theme.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'website/generated/css/style.css' %}" />

        <script type="application/javascript" src="{% static 'website/js/lib/nanobar.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/lib/jquery-1.11.3.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/lib/jquery.dropdown.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/lib/chardinjs.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/lib/slick.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/lib/clipboard.min.js' %}"></script>
        {% block additional_scripts %}
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block panel %}
        <header>
            {% include "header.html" %}
        </header>
        {% endblock %}

        <section class="{% block contentclass %}{% endblock %}">
        {% block content %}{% endblock %}
        </section>

        {% block additional_html %}{% endblock %}
        <footer>
        </footer>
        
        <div id="filter" class="hidden">
            {% block filtercontent %}{% endblock %}
        </div>

        <script>
            $(document).ready(function() {
                var options = { 
                    id : "storage-percent-bar",
                    target: document.getElementById("storage-percent-container"),
                    bg: "#9B59B6"
                }
                var nanobar = new Nanobar(options);
                nanobar.go({{ storage_percent }});
                $("#help-btn").click(function() {
                    $("body").chardinJs("start");
                });
            });
        </script>
        {% include "user-menu.html" %}
    </body>
</html>
