{% load static %}

<html>
    <head>
        <title>FShare - {% block title %}{% endblock %}</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'website/generated/css/style.css'%}" />

        <script type="application/javascript" src="{% static 'website/js/lib/dropzone.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/lib/jquery-1.11.3.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'website/js/src/fshare_upload.js' %}"></script>
    </head>
    <body>
        <header>
            {% include "header.html" %}
        </header>
        <nav>
            {% include "nav.html" %}
        </nav>
        <hr>

        <section>
        <h2> Hello, {{ user.username }} | Limit: {{ storage_limit }} </h2>
        {% block content %}{% endblock %}
        </section>

        <footer>
        </footer>
    </body>
</html>
