{% block header %}
    <div id="title"><a href="{% url 'index' %}">FShare</a></div>
    <nav>
    {% block nav %}
        {% if user.is_authenticated %}
            <a href="{% url 'myfiles' %}">
                <div class="nav-btn" id="nav-myfiles">
                    my files
                </div>
            </a>
            {% if is_admin %}
                <a href="{% url 'cockpit' %}">
                    <div class="nav-btn" id="nav-cockpit">
                        cockpit
                    </div>
                </a>
            {% endif %}
            <a href="#" data-jq-dropdown="#user-menu">
                <div class="nav-btn" id="nav-user">
                    {{ user.username }}
                </div>
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <div class="nav-btn" id="nav-login">
                    login
                </div>
            </a>
            <a href="{% url 'register' %}">
                <div class="nav-btn" id="nav-signin">
                    sign in
                </div>
            </a>
        {% endif %}
    {% endblock %}
    </nav>
{% endblock %}
