{% block header %}
    <div class="animated fadeInLeft" id="title">
        <a href="{% url 'index' %}">
            <div id="f">F</div><div id="share">Share</div>
        </a>
        <div id="subtitle">
            Private file sharing. Keep your data. Share your data. Be your own master.
        </div>
    </div>
    <script>
        $("a", '#title').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
            $(this).removeClass("animated");
            $(this).removeClass("pulse");
            $(this).removeClass("fadeInLeft");
        });
        $("a", "#title").hover(function() {
            $(this).addClass("pulse");
            $(this).addClass("animated");
            $(this).addClass("infinite");
        }, function() {
            $(this).removeClass("pulse");
            $(this).removeClass("animated");
            $(this).removeClass("infinite");
        });

    </script>
    <nav class="animated fadeInRight">
    {% block nav %}
        {% if user.is_authenticated %}
            <a href="#">
                <div class="nav-btn" id="nav-user" data-jq-dropdown="#user-menu">
                    {{ user.username }}
                </div>
            </a>
            {% if is_admin %}
                <a href="{% url 'cockpit' %}" class="{% if title == "Cockpit" %}active{% endif %}">
                    <div class="nav-btn" id="nav-cockpit">
                        cockpit
                    </div>
                </a>
            {% endif %}
            <a href="{% url 'myfiles' %}" class="{% if title == "My files" %} active {% endif %}">
                <div class="nav-btn" id="nav-myfiles">
                    my files
                </div>
            </a>
            {% if title == "Cockpit" %}
                <a href="#"><div id="help-btn">?</div></a>
            {% endif %}
        {% else %}
            <a href="{% url 'register' %}">
                <div class="nav-btn" id="nav-signin">
                    sign in
                </div>
            </a>
            <a href="{% url 'login' %}">
                <div class="nav-btn" id="nav-login">
                    login
                </div>
            </a>
        {% endif %}
    {% endblock %}
    </nav>
{% endblock %}
