{% block nav %}
    {% if user.is_authenticated %}
        <div class="nav-btn" id="nav-myfiles"><a href="{% url 'myfiles' %}">My files</a></div>
        {% if is_admin %}
            <div class="nav-btn" id="nav-cockpit"><a href="{% url 'cockpit' %}">Cockpit</a></div>
        {% endif %}
        <div class="nav-btn" id="logout"><a href="{% url 'logout' %}">Logout</a></div>
    {% else %}
        <div class="nav-btn" id="nav-login"><a href="{% url 'login' %}">login</a></div>
        <div class="nav-btn" id="nav-signin"><a href="{% url 'register' %}">sign in</a></div>
    {% endif %}
{% endblock %}
