
/* Purple palet */

$text-color: #000000;
// $background-color: rgba(214, 186, 229, 0.1);
$background-color: #FFFFFF;
$very-light-color: rgb(214, 186, 229);
$light-color: #BE90D4;
$medium-color: #9B59B6;
$dark-color: #8D608C;
$very-dark-color: #763568;

