
@font-face {
    font-family: Existence;
    src: url("../../fonts/Existence-Light.otf");
}

@font-face {
    font-family: Open Sans;
    src: url("../../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: Helvetica Neue LT;
    src: url("../../fonts/Helvetica Neue.otf");
}

