
@import "settings.scss";

select {
    display: block;
    float: center;
    height: 30px;
    border-color: $medium-color;
    border-radius: 2px; 
    margin: auto; 
}

input[type=button], input[type=submit], .button {
    outline: none;
    display: block;
    float: center;
    height: 30px;
    margin: auto;
    background-color: $dark-color;
    color: white;
    border-style: solid;
    border-color: $dark-color;
    border-width: 1px;
    border-radius: 2px;
    
    &:hover {
        background-color: white;
        color: $dark-color;
        cursor: pointer;
    }
}

input[type=text], input[type=password], input[type=email] {
    border-style: solid;
    border-color: $dark-color;
    border-width: 0px 0px 1px 0px;
    font-size: 0.8em;
    font-family: $main-font;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

input[type=text][readonly] {

    text-overflow: ellipsis;

/*
    height: 20px;
    line-height: 15px;
    font-size: 0.9em;
    border-width: 1px;
    &:hover {
        background-color: white;
        border-color: $medium-color;
    }
*/
}

textarea {
    resize: none;
    border-style: solid;
    border-color: $dark-color;
    border-width: 1px;
}

.radio {

    input[type="radio"] {
        display:none;
    }

    label {
        cursor: pointer;
    }

    &>label:first-of-type:before, &>label:last-of-type:after {
        content: "";
        display:inline-block;
        width:12px;
        height:12px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        cursor: pointer;
        -moz-border-radius:  50%;
        border-radius:  50%;
        border-color: $border-color;
        border-width: 1px;
        border-style: solid;
    }
    
    input[type=radio]:checked + label:before {
        background-color: $border-color;
    }
    input[type=radio]:checked + label:after {
        background-color: $border-color;
    }
}

textarea, input {
    &:focus {
        outline: none;
        border-color: $very-light-color;
    }
}

body.colored {
    input[type=text], input[type=password], input[type=email] {
        background-color: $dark-color;
        display: block;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 10px;
        width: 300px;
        border-color: black;
        &:focus {
            border-color: white;
        }
    }
    input[type=submit] {
        width: 50%;
        border-color: white;
    }
}
