
@import "color/purple.scss";
@import "font.scss";

$doc-margin: 50px;

body {
    position: relative;
    background-color: $background-color;
    color: $text-color;
    width: 100%;
    margin: auto;
    height: 100%;
    font-family: $main-font;
}

header {
    $hdr-size: 50px;
    background-color: $medium-color;
    height: $hdr-size;
    padding-left: $doc-margin;
    padding-right: $doc-margin;
    line-height: $hdr-size;
    div {
        display: inline-block;
    }
    #title {
        font-size: 2em;
        a { 
            color: $light-color;
        }
    }
    nav {
        display: inline-block;
        position: absolute;
        right: $doc-margin;
        div {
            padding-left: 20px;
        }
    }

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: $dark-color;
        }
    }
}

#user-menu {
    #storage-percent-container {
        width: 90%;
        margin: auto;
        padding-top: 10px;
        font-size: 0.6em;
        display: block;

        label {
            display: inline-block;
            text-align: left;
            margin-left: 0px;
            width: 40%;
            &:hover {
                background-color: white;
                cursor: default;
            }
        }

        span.value {
            display: inline-block;
            text-align: right;
            width: 30%;
        }
    }

    #storage-percent-bar {
        background-color: $very-light-color;
        border-radius: 30px;
        div {
            border-radius: 30px 0px 0px 30px;
        }
    }
}
