
@import "settings.scss";
@import "form.scss";

$doc-margin: 50px;

body {
    position: relative;
    background-color: $background-color;
    color: $text-color;
    width: 100%;
    margin: auto;
    height: 100%;
    font-family: $main-font;

    &.colored {
        background-color: $dark-color;
        section {
            text-align: center;
        }
        &.no-nav nav {
            display: none;
        }

        h2 {
            margin-top: 200px;
            color: white;
            text-transform: uppercase;
            font-size: 2em;
            margin-bottom: 50px;
        }
    }
    &.noheader header {
        display: none;
    }
}

a {
    text-decoration: none;
    color: $light-color;
    &:hover {
        color: $dark-color;
    }
}

.hidden {
    display: none;
}

.note {
    border-style: solid;
    border-color: $border-color;
    border-width: 0px 0px 0px 1px;
    
    font-size: 0.8em;
    font-style: italic;

    &:before {
        content: "Note. ";
        font-weight: bold;
        font-style: normal;
    }

    &:hover {
        border-color: $light-color;
    }
}

.chardinjs-tooltiptext {
    font-size: 0.8em;
    text-align: justify;
}

$hdr-size: 50px;

header {
    $title-size: $hdr-size;
    $nav-size: $hdr-size;

    background-color: $dark-color;
    color: white;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: $border-color;

    height: $hdr-size;
    width: 100%;

    margin: auto;
    margin-bottom: 30px;

    div {
        display: inline-block;
    }

    #title {
        display: inline-block;
        padding-left: $doc-margin;
        height: $title-size;
        line-height: $title-size;
        font-size: 1.7em;
        font-family: $title-font;
        a { 
            color: black;
            display: inline-block;
            height: $title-size;
            width: $title-size * 1.7;
            /*
            background-image: url("../../img/logo.png");
            background-size: auto 100%;
            background-repeat: no-repeat;
            */
            /*
            div#f {
                position: absolute; 
                top: 10px;
                left: 5px;
                
                z-index: 1;

                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 100px;
                line-height: 100px;
                text-align: center;

                shape-outside: polygon(0 0, 100 0, 100 100, 30 100);
                shape-margin: 20px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
            }
            */
        }
        #subtitle {
            font-family: $main-font;
            font-size: 0.3em; 
            color: $very-light-color;
        }
    }

    nav {
        $nav-internal-padding: 2px;
        display: inline-block;
        float: right;
        height: $nav-size;
        padding-right: 50px;
        padding-top: $nav-internal-padding;
        padding-bottom: $nav-internal-padding;

        background-color: rgba(0,0,0,0);
        a {
            color: white;
            font-size: 0.8em;
            text-decoration: none;
            display: inline-block;
            float: right;
            height: $nav-size - 2 * $nav-internal-padding;

            line-height: $nav-size - 5px;
            text-align: center;
            text-overflow: ellipsis;

            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            border-color: rgba(0, 0, 0, 0);

            &.active {
                border-color: $light-color;
                border-width: 0px 0px 1px 0px;

            }

            &:hover {
                border-color: $very-light-color;
                color: $very-light-color;
            }

            div {
                margin-top: 1px;
                padding-left: 10px;
                padding-right: 10px;

            } 
        }
    }
}

.banner {
    width: 100%;
    height: 20%;
    background-color: $medium-color;
}

#user-menu {
    width: 300px;

    ul {
        padding-bottom: 0px;
    }

    #storage-percent-container {
        width: 90%;
        margin: auto;
        padding-top: 10px;
        font-size: 0.6em;
        display: block;

        label {
            display: inline-block;
            text-align: left;
            margin-left: 0px;
            width: 40%;
            &:hover {
                background-color: white;
                cursor: default;
            }
        }

        span.value {
            display: inline-block;
            text-align: right;
            width: 30%;
        }
    }

    #storage-percent-bar {
        background-color: $very-light-color;
        border-radius: 30px;
        div {
            border-radius: 30px 0px 0px 30px;
        }
    }

    #logout-btn {
        color: white;
        text-align: center;
        height: 30px;
        line-height: 30px;
        padding: 0px;
        border-width: 1px 0px 0px 0px;
        border-radius: 0px 0px 4px 4px;
        font-size: 0.8em;
        &:hover {
            color: $dark-color;
            background-color: white;
        }
    }
}
 
section {

    padding: 50px;

    &.center {
        height: 500px;
        &.wow {
            height: 150px;
        }
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        h2 {
            margin-top: 0px;
        }
    }


    &>div {
        /*
        border-style: solid;
        border-color: $medium-color;
        border-width: 0px 0px 0px 1px;
        */

        width: 100%;

        margin-bottom: 30px;

        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 0.9em;
        &:hover {
            /*
            border-color: $very-light-color;
            border-width: 0px 0px 0px 1px;
            */
        }

        h3 {
            font-size: 1.1em;
            font-weight: bold;
            color: $dark-color;
        }
    }

    /* Hack to hide file zone */
    .superDropzone, label[for="id_file"] {
        display: none;
    }

    .dropzone, .download {
        $drop-height: 150px;
    
        width: 80%;
        height: $drop-height;
        margin: auto;

        border-style: solid;
        border-color: $border-color;
        border-width: 1px; 
        border-radius: 2px;
    
        &.download {
            background-color: $dark-color;
            color: white;
            border-color: white;
        }

        &.dropzone { 
            border-color: white; 
            color: white; 
            text-transform: uppercase;
        }
    
        line-height: $drop-height;
        text-align: center;
    
        &:hover {
            cursor: pointer;
            &.dropzone {
                background-color: white;
                color: $dark-color;
            }
            &.download {
                color: $dark-color;
                background-color: white;
                border-color: $dark-color;
            }
        }
    }

    .dz-preview {
        display: none;
    }

    #pclass-management {
         
        select {
            width: 90%;
            margin-bottom: 30px;
        }
    
        #pclass-menu {
            /*
            border-style: solid;
            border-color: black;
            border-width: 5px;
            */
            width: 150px;
            margin-left: -25px;

            font-size: 0.7em;

            .slick-list {
                margin-left: 40px;
            }

            .slick-dots {
                position: absolute;
                top: -20px;
                width: 20px;
            }

            .pclass-menu-item {
                max-width: 70px;
                height: 30px;

                text-align: center;
                line-height: 30px;

                /*
                border-style: solid;
                border-color: $border-color;
                border-width: 1px;
                border-radius: 100px;
                */

                opacity: 0.2;
                transform: scale(0.80);

                &.slick-active {
                    opacity: 0.5;
                    transform: scale(0.85);
                }

                &.slick-center {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        #add-perm-btn {
            $add-btn-size: 30px;
            height: $add-btn-size;
            width: $add-btn-size;

            text-align: center;
            line-height: $add-btn-size;

            border-width: 1px;
            border-style: solid;
            border-color: $border-color;
            border-radius: 70px;
            
            background-color: white; 

            margin-left: 35px;

            font-size: 1.8em;
        }

        #add-perm-btn:hover {
            cursor: pointer;
            background-color: $medium-color;
        }

        .info {
            &>span, &>input {
                display: block;
                label {
                    font-weight: bold;
                }
            }
        }
    
        .reg-key-btn {
            width: 90%; 
        }

        div.pclass-key-management {            

            padding-top: 50px;
            position: absolute;
            left: 250px;
            top: 100px;
            right: 100px;
            bottom: 0px;

            .content {

                /*
                .storage-limit, .storage-path {
                    width: 50%;
                    text-align: right;
                    font-size: 1.5em;
                    label {
                        display: block;
                        width: 50%;
                        float: left;
                        text-align: left;
                    }
                }

                background-color: $very-light-color;
                opacity: 0.25;

                position: relative;

                width: 85%;
                padding: 20px;
                border-style: solid;
                border-width: 1px;
                border-color: black;

                .key-logo {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: black;
                    height: 80px;
                    width: 80px;
                    background-image: url("../../img/icon/key.png");
                    background-size: 100% 100%;
                }
                */
                table {
                    width: 100%;   
                    text-align: center;
                    input {
                        width: 80%;
                        text-align: center;
                        font-family: "PT Mono";
                        font-weight: 0.1em;
                    }
                }
            }

            &.slick-center {
                transform: scale(1.08);
                .content {
                    opacity: 1;
                }
            }

        }

        .console {
        
            $csl-height: 200px;
            $cls-menu-width: 100px;
            $csl-control-width: 200px;
            $csl-color: #F0F0F0;
        
            position: relative;
        
            width: 90%;
            margin: auto;
        
            .menu {
                display: inline-block;
                height: $csl-height;
                width: $cls-menu-width;
                vertical-align: top;
        
                margin-top: 0px;
                margin-right: 0px;
                padding-top: 0px;
                padding-right: 0px;
        
                p {
                    border-style: solid;
                    border-width: 0px 0px 1px 0px;
                    border-color: $very-light-color;
        
                    padding: 0px;
                    padding-right: 10px;
                    margin-top: 0px;
                    margin-right: 0px;
        
                    font-size: 0.8em;
                    text-align: right;
        
                    cursor: pointer;
        
                    &.active {
                        border-color: $dark-color;
                        font-weight: bold;
                    }
                }
            }
        
            .content {
                display: inline-block;
        
                border-style: solid;
                border-width: 1px;
                border-color: $very-dark-color;
                border-radius: 2px;
            
                height: $csl-height;
                position: absolute;
                right: 0px;
                left: $cls-menu-width;
                resize: none;
                margin-left: 0px;
                padding-top: 5px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
        
                background-color: $csl-color;
            
                font-size: 0.6em;
                font-family: "PT Mono" Serif;
                    
                overflow-y: scroll;
            
                &>div {
                    max-height: $csl-height;
                    width: 100%;
        
                    p {
                        margin: 0px;
                        margin-bottom: 5px;
                        height: 20px;
                        &:hover {
                            cursor: pointer;
                        }
                        .control {
                            float: right;
                            height: 20px;
                            margin-bottom: 0px;
                            span {
                                background-color: $very-light-color;
                                padding: 3px;
                                padding-left: 10px;
                                padding-right: 10px;
                                border-radius: 3px;
                                &:hover {
                                    cursor: pointer;
                                    background-color: $dark-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .file-info, .upload-info, .basic-form, .info  {
        width: 100%;

        p {
            margin-top: 0px;
            margin-bottom: 0px;

            height: 50px;
            line-height: 50px;
    
            .radio {
                display: inline-block;
                position: relative;
                height: 50px;
                & > label {
                    display: inline-block;
                    &#lbl_is_private_0 {
                        float: left;
                    }
                    &#lbl_is_private_1 {
                        float: right;
                    }
                }
            }
        }

        p > label {
            width: 30%;
            height: 100%;

            display: inline-block;
            text-align: right;

            border-style: solid;
            border-width: 0px 1px 0px 0px;
            border-color: $border-color;

            margin-top: 0px;
            margin-bottom: 0px;
            
            padding-right: 20px;

            font-weight: bold;

            &[for=file-public-switch_0] {
                float: left;
            }
        }

        /*
        &.file-info p > label {
            border-color: white;
        }
        */

        span.value, input, .radio {
            margin-left: 20px;
            width: 300px;
        }
        
        p.checksum span {
            // color: $light-color;
        }
    
        .helptext, .errorlist {
            display: none;
        }

        input[type=button], input[type=submit] {
            width: 60%;
            margin: auto;
            margin-top: 30px;
        }
    }
}

#login-form, #reg-form, #upload-form {
    width: 100%;
    text-align: left;
    .helptext {
        display: none;
    }
    p {
        height: 50px;
    }
    input, label {
        display: inline-block;
    }
    label {
        width: 40%;
        padding-right: 20px;
        text-align: right;
    }
    input {
        width: 30%;
        line-height: 30px;
    }
    input[type=submit] {
        margin-top: 50px;
        width: 50%;
        display: block;
        float: center;
    }
    #id_file {
        display: none;
    }
}

section>.idx-info {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    span.glyphicon {
        display: inline-block;
        width: 40%;
        text-align: right;
        font-size: 4em;
    }
    ul {
        display: inline-block;
        width: 55%;
        text-align: left;
    }
}

table#myfiles, table.perm-tab {
    
    border-collapse: collapse;
    border-spacing: 0px;

    width: 100%;

    &.perm-tab td {
        text-align: center;
    }

    td.fdesc, td.comment {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td {
        min-width: 150px; 
        height: 45px;
        &.small {
            min-width: 50px;
            width: 50px;
            text-align: center;
        }
        &.vsmall {
            min-width: 35px;
            width: 35px;
            text-align: center;
        }
        &.key {
            min-width: 250px;
            width: 250px;
            input {
                width: 85%;
            }
        }
    }

    thead td, th {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: $border-color;
    }

    .button {
        width: 25px;
        height: 35px;
        span {
            height: 100%;
            width: 100%;
            line-height: 35px;
            font-size: 0.7em;
            text-align: center;
            margin: -1px;
        }
    }
}

.modal {
    background-color: $dark-color;
    text-align: center;

    h3 {
        color: white;
    }

    input {
        border-color: white;
        background-color: $dark-color;
        width: 70%;
    }
}

#filter {
    position: fixed;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    text-align: center;
    line-height: $hdr-size;
}
