
@import "settings.scss";
@import "form.scss";

$doc-margin: 50px;

body {

    position: relative;
    background-color: $background-color;
    color: $text-color;
    width: 100%;
    margin: auto;
    height: 100%;
    font-family: $main-font;
    font-weight: 200;

    &.colored {
        background-color: $dark-color;
        section {
            text-align: center;
        }
        &.no-nav nav {
            display: none;
        }

        h2 {
            margin-top: 200px;
            color: white;
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 200;
            margin-bottom: 50px;
        }
        a, .link {
            color: white;
            &:hover {
                color: $light-color;
                text-decoration: none;
                cursor: pointer;
            }
        }
        header {
            background-color: $dark-color;
            #title {
                a {
                }
                #subtitle {
                    color: white;
                }
            }
        }
    }
    &.noheader header {
        display: none;
    }
}

.link, a {
    text-decoration: none;
    color: $dark-color;
    &:hover {
        color: $very-light-color;
        text-decoration: none;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

header {
    padding-top: 20px;
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: $title-font;
    text-align: center;
    #title {
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        padding-bottom: 50px;
        width: 80%;
        margin: auto;
        a {
            font-size: 10em;
            width: 100%;
            color: black;
            div {
                display: inline-block;
            }
        }
        #subtitle {
            display: block;
            color: $dark-color;
            font-size: 1.6em;
        }
    }

    nav {
        $nav-size: 50px;
        $nav-internal-padding: 2px;

        position: fixed;
        top: 0px;
        right: 20px;
        height: $nav-size;

        padding-top: $nav-internal-padding;
        padding-bottom: $nav-internal-padding;

        background-color: rgba(0,0,0,0);

        a {
            font-size: 0.8em;
            text-decoration: none;
            display: inline-block;
            float: right;
            height: $nav-size - 2 * $nav-internal-padding;

            line-height: $nav-size - 5px;
            text-align: center;
            text-overflow: ellipsis;

            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
                
            border-style: solid;
            border-width: 0px 0px 1px 0px;
            border-color: rgba(0, 0, 0, 0);

            &.active {
                border-width: 0px 0px 1px 0px;
            }

            &:hover {
                border-color: $very-light-color;
            }

            div {
                margin-top: 1px;
                padding-left: 10px;
                padding-right: 10px;

            } 
        }
    }
}
    

section {

    padding: 50px;

    &.center {
        height: 500px;
        &.wow {
            height: 150px;
        }
        position: absolute;
        top: 310px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        h2 {
            margin-top: 0px;
        }
    }

}
    

form, .file-info {

    width: 100%;

    p {
        margin-top: 0px;
        margin-bottom: 0px;

        height: 50px;
        line-height: 50px;

        .radio {
            display: inline-block;
            position: relative;
            height: 50px;
            & > label {
                display: inline-block;
                &#lbl_is_private_0 {
                    float: left;
                }
                &#lbl_is_private_1 {
                    float: right;
                }
            }
        }
    }

    p > label {
        width: 45%;
        height: 100%;

        display: inline-block;
        text-align: right;

        border-style: none;

        margin-top: 0px;
        margin-bottom: 0px;
        
        padding-right: 20px;

        &[for=file-public-switch_0] {
            float: left;
        }
    }

    span.value, input, .radio {
        margin-left: 20px;
        width: 300px;
    }

    input {
        width: 20%;
        line-height: 30px;
    }

    span.value {
        color: $dark-color;
    }
    
    .helptext, .errorlist {
        display: none;
    }

    input[type=button], input[type=submit] {
        width: 50%;
        margin: auto;
        margin-top: 50px;
        display: block;
        float: center;
    }
}

.modal {
    background-color: $dark-color;
    text-align: center;

    h3 {
        color: white;
        font-weight: 200;
    }

    input {
        border-color: white;
        background-color: $dark-color;
        width: 70%;
    }
}

#filter {
    position: fixed;
    z-index: 2;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    text-align: center;
    line-height: 50px;
}

#dropzone, .download {
    border-style: solid;
    $dp_border: 3px;
    border-width: $dp_border;
    border-color: black;
    border-radius: 0px;
    border-color: black;
    $dph: 135px;
    $dpw: 500px;
    height: $dph;
    width: $dpw;
    line-height: $dph - $dp_border;
    text-align: center;
    margin: auto;
    background-color: white;
    color: black;
    position: relative;
    moz-webkit-transition: width 0.7s, color 0.1s, height 0.7s, border-color 0.7s;
        webkit-transition: width 0.7s, color 0.1s, height 0.7s, border-color 0.7s;
               transition: width 0.7s, color 0.1s, height 0.7s, border-color 0.7s;
    &:hover {
        /*
        background-color: $dark-color;
        */
        border-color: $dark-color;
        cursor: pointer;
        width: 1.5*$dpw;
    }
    &:after {
        content: '';
        width: $dpw - $dph; 
        height: $dp_border;
        background-color: white;
        position: absolute;
        bottom: -$dp_border;
        right: -$dp_border;
    }
    &:before {
        content: '';
        width: $dpw - $dph; 
        height: $dp_border;
        background-color: white;
        position: absolute;
        top: -$dp_border;
        left: -$dp_border;
    }
}

/* MOBILE VERSION */
@media only screen and (max-device-width: 500px) {
    header {
        #title {
            font-size: 1.5em;
        }
    }
    section {
        font-size: 2em;
    }
    #dropzone, .download {
        zoom: 150%;
        height: 200px; 
        line-height: 197px;
    }
}
