
@import "settings.scss";

#user-menu {
    width: 300px;
    ul {
        padding-bottom: 0px;
    }
    #storage-percent-bar {
        width: 96%;
        height: 3px;
        margin: auto;
        margin-top: 15px;
        background-color: $very-light-color;
        div {
            background-color: $very-dark-color;
        }
    }
    p {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        label, span {
            width: 49%;
            display: inline-block;
            padding: 2%;
        }
        span {
            text-align: right;
        }
    }
    #logout-btn {
        margin-bottom: 0px;
        height: 30px;
        line-height: 30px;
        color: white;
        text-align: center;
        &:hover {
            color: $very-dark-color;
            background-color: white;
        }
    }
}
