{% extends 'base.html' %}

{% load staticfiles %}
{% load fshare_extra %}

{% block additional_style %}
    <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/jquery.modal.css' %}" />    
{% endblock %}

{% block additional_scripts %}
    <script type="application/javascript" src="{% static 'website/js/src/cockpit.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/lib/jquery.modal.js' %}"></script>
{% endblock %}

{% block title %}Cockpit{% endblock %}

{% block content %}
    <div class="note">
        You can see this page because you are admin. Other non-admin users cannot access the cockpit.
    </div>

    <h3>Generate registration key</h3>
    <div class="note">
        Generate and revoke registration keys for a specific permission class. 
        Once generated, a key can be used for (only) one registration.
    </div>

        <div id="registration-key-form">
            <select name="class" class="pclass" required>
                {% for p in perms %}
                    <option value="{{ p.name }}">{{ p.name }} (max dl: {{ p.max_dl_limit}} | max delay: {{ p.max_expiration_delay }} | storage: {{ p.storage_limit | human_size }})</option>
                {% endfor %}
            </select>
            <input type="button" class="reg-key-btn" value="Generate a registration key" />
        </div>

    <h3>Create new permission class</h3>
    <div class="note">
        Create new class of user with a given storage limit and a specific storage 
        location on your server. Once created, you can generate registration keys 
        for your new permission.
    </div>
        <form action="{% url 'cockpit' %}" method="post">
            {% csrf_token %}
            {{ perm_form.as_p }}
            <input type="submit">
        </form>
    </div>

    <script>
        var URL_REG_KEY = "{% url 'generate_registration_key' %}";
        var URL_MARK_KEY = "{% url 'mark_key_distributed' %}";
        var URL_REVOKE_KEY = "{% url 'revoke_key' %}";

    </script>
{% endblock %}

{% block additional_html %}
    <div class="modal" id="key-modal" aria-labelledby="link-label" aria-hidden="true">
        <h3>registration key</h3>
        <p><input id="key-modal-input" type="text" value="" readonly /></p>
    </div>
{% endblock %}
