{% extends 'base.html' %}

{% load fshare_extra %}

{% block title %}{{ f.title }}{% endblock %}

{% load staticfiles %}
{% block additional_scripts %}
    <script type="application/javascript" src="{% static 'website/js/lib/jquery.cookie.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/utils.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/download.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="file-info">
        <p class="name"><label>File</label> <span class="value">{{ f.title }}</span></p>
        <p class="size"><label>Size</label> <span class="value">{{ f.size | human_size }}B</span></p>
        <p class="checksum"><label>MD5 Checksum</label> <span class="value">{{ f.checksum }}</span></p>
        <p></p>
    </div>

    <a href="{% url 'get_file' f.id %}{% if key %}?key={{ key }}{% endif %}">
        <div class="download">
            DOWNLOAD
        </div>
    </a>

{% endblock %}

{% block filtercontent %}
    deciphering file ... please wait&nbsp;<span class="points">&nbsp;&nbsp;&nbsp;</span>
{% endblock %}
