{% extends "base.html" %}

{% block title %}Password required{% endblock %}

{% block bodyclass %}colored{% endblock %}

{% block panel %}{% endblock %}
{% block content %}
        <h2>File protected</h2>
        <form method="post" action="{{ target }}">
            {% csrf_token %}
            {% if wrong_pwd %}
                <div class="info">Password is incorrect.</div>
            {% endif %}
            <label>Enter password to continue:</label>
            <input type="text" name="pwd"/>
            <input type="submit" value="Go">
        </form>
{% endblock %}
