{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% load staticfiles %}
{% load fshare_extra %}

{% block additional_style %}
    <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/jquery.modal.css' %}" />    
    <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/glyphicons.min.css' %}" />    
    <link type="text/css" rel="stylesheet" href="{% static 'website/generated/css/index.css' %}" />    
{% endblock %}

{% block additional_scripts %}
    <script type="application/javascript" src="{% static 'website/js/lib/dropzone.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/lib/jquery.cookie.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/lib/jquery.modal.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/utils.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/fshare_upload.js' %}"></script>
    <script>
        var max_file_size = {{ size_limit | in_mb }};
    </script>
{% endblock %}

{% block bodyclass %}{% endblock %}

{% block contentclass %}{% endblock %}

{% block content %}
    <form id="upload-form" action="{% url "upload" %}" method="POST" enctype="multipart/form-data" class="upload-info" data-size="{% url "size_available" %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="dropzone" class="dropzone" action="{% url "upload" %}">
            <div class="dz-message">Click or drop your file here</div>
        </div>
        <div id="upload-progression"></div>
    </form>
    <div class="idx-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        <ul>
            <li>Size limit is {{ size_limit | human_size }}B per file.</li>
            <li>Files are deleted after {{ dl_limit }} download{% if dl_limit > 1 %}s{% endif %}.</li>
            <li>Files not downloaded are deleted after {{ day_limit }} day{% if day_limit > 1 %}s{% endif %}.</li>
        </ul>
        <div class="reg-info">
        To avoid these restrictions, ask for a registration key at <a href="mailto:{{ contact }}">{{ contact }}</a>.
        </div>
    </div>
{% endblock %}

{% block filtercontent %}
    <span class="text">uploading file&nbsp;</span><span class="points">&nbsp;&nbsp;&nbsp;</span>
{% endblock %}

{% block additional_html %}
    <div class="modal" id="link-modal" aria-labelledby="link-label" aria-hidden="true">
        <h3>download link</h3>
        <p><input id="link-modal-input" type="text" value="" readonly /></p>
        <p><input id="show-key-btn" type="button" value="" class="active" /></p>
        <p><input id="cpy-link-btn" type="button" value="copy link" class="active" data-clipboard-target="#link-modal-input"/></p>
    </div>
{% endblock %}
