{% extends 'base.html' %}

{% load staticfiles %}

{% block additional_style %}
    <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/jquery.modal.css' %}" />    
    <link type="text/css" rel="stylesheet" href="{% static 'website/css/lib/glyphicons.min.css' %}" />    
{% endblock %}

{% block additional_scripts %}
    <script type="application/javascript" src="{% static 'website/js/lib/jquery.modal.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/modal.js' %}"></script>
    <script type="application/javascript" src="{% static 'website/js/src/myfiles.js' %}"></script>
{% endblock %}

{% load fshare_extra %}

{% block content %}
    <table id="myfiles">
        <thead>
            <tr>
                <td class="small"></td>
                <td class="name">file</td>
                <td class="small">size</td>
                <td class="small">#dl</td>
                <td class="small">#max</td>
                <td class="date">expiration date</td>
                <td class="verysmall"></td>
                <td class="gap"></td>
                <td class="verysmall"></td>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr id="file-{{ file.id }}" data-key="{{ file.real_key }}" class="file">
                    <td></td>
                    <td class="name" data-href="{% url 'get_name' file.id %}?key={{ file.real_key }}">
                        <a href="/dl/{{ file.id }}{% if file.real_key %}?key={{ file.real_key }}{% endif %}">{{ file.title }}</a>
                    </td>
                    <td class="small">
                        {{ file.size | human_size }}B
                    </td>
                    <td class="small">
                        {{ file.nb_dl }}
                    </td>
                    <td class="small">
                        {{ file.max_dl }}
                    </td>
                    <td class="date">
                        {% if file.expiration_date %}
                            {{ file.expiration_date }}
                        {% else %}
                            never
                        {% endif %}
                    </td>
                    <td class="verysmall">
                        <div class="link-btn button" data-href="{{ URL_BASE }}{% url 'download' file.id %}" data-fid="{{ file.id }}"><span class="glyphicon glyphicon-link"></span></div>
                    </td>
                    <td class="gap"></td>
                    <td class="verysmall">
                        <div class="button delete-btn" data-href="{% url 'delete' file.id %}" data-csrf="{% csrf_token %}" data-fid="{{ file.id }}" ><span class="glyphicon glyphicon-remove"></span></div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal" id="link-modal" aria-labelledby="link-label" aria-hidden="true">
        <h3>download link</h3>
        <p><input id="link-modal-input" type="text" value="" readonly /></p>
        <p><input id="show-key-btn" type="button" value="" class="active" /></p>
        <p><input id="cpy-link-btn" type="button" value="copy link" class="active" data-clipboard-target="#link-modal-input"/></p>
    </div>

{% endblock %}
