{% extends 'base.html' %}

{% block additional_scripts %}
    {% load staticfiles %}
     <script type="application/javascript" src="{% static 'website/js/src/myfiles.js' %}"></script>
{% endblock %}

{% load fshare_extra %}

{% block content %}
    <table>
        <thead>
            <tr>
                <td>file</td>
                <td>description</td>
                <td>public name</td>
                <td>size</td>
                <td>#dl</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr id="file-{{ file.id }}">
                    <td>
                        <a href="/dl/{{ file.id }}">>{{ file.private_label }}<</a>
                    </td>
                    <td>
                        {{ file.description }}
                    </td>
                    <td>
                        {{ file.title }}
                    </td>
                    <td>
                        {{ file.size | human_size }}
                    </td>
                    <td>
                        {{ file.nb_dl }}
                    </td>
                    <td>
                        <input type="button" class="delete-btn" data-href="{% url 'delete' file.id %}" data-csrf="{% csrf_token %}" data-fid="{{ file.id }}" value="delete">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
